.card-detail {
  border: none;
  background-color: white;
  border-radius: 3px;
}
.product {
  background-color: #eee;
  min-height: 95%;
  margin-top: 1vh;
  margin-bottom: 1vh;
  border-radius: 0 3px 3px 0;
}
.brand {
  font-size: 13px;
}
.act-price {
  color: red;
  font-weight: 700;
}

