.main-container {
  background-color: rgb(60, 46, 46);
  height: 100vh;;
}
.text-style {
  color: rgb(255, 255, 255);
    text-shadow: rgb(71, 71, 71) 3px 5px 2px;
  --darkreader-inline-color: #e5e0d8;
  --darkreader-inline-bgimage: initial;
  --darkreader-inline-bgcolor: #785957;
}
